<template>

<div id="app" class="app">
  <div class="header">
        <div class="logo">
         <img src="/images/logo.png"> 
         </div>

        <h1> NEW TECH SHOP</h1>
        
        <nav>
        <button v-on:click="irInicio"> Inicio </button>
        
       
        <button v-if="!is_auth" v-on:click="loadLogIn" > Ingresa </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrate </button>
        <button v-if="is_auth" v-on:click="Salir"> Salir</button>
        </nav>
        </div>
     <div class="main-component">

 <router-view
    v-on:completedLogIn="completedLogIn"
    v-on:completedSignUp="completedSignUp"
 > </router-view>
 </div>
</div>
</template>

<script>
export default{
 name: 'App',
 data: function(){
     return{
         is_auth: false,
     }
 },
  components: {
 },
 methods:{
   irInicio: function(){
       this.$router.push({name: "Home"})
   },
 verifyAuth: function() {
 this.is_auth = localStorage.getItem("isAuth") || false;
 
 if (this.is_auth == false)
 this.$router.push({ name: "logIn" });
 else
 this.$router.push({ name: "Home" });
 },
loadSignUp: function(){
 this.$router.push({name: "SignUp"})
 },
 loadLogIn: function(){
 this.$router.push({name: "LogIn"})
 },
 
completedLogIn: function(data) {
   localStorage.setItem("isAuth", true);
 localStorage.setItem("username", data.username);
 localStorage.setItem("user_id", data.user_id);
 localStorage.setItem("token_access", data.token_access);
 localStorage.setItem("token_refresh", data.token_refresh);
 alert("Autenticación Exitosa");
 this.verifyAuth();
   this.$router.push({name: "Home"})  
},
 completedSignUp: function(data) {
     alert("Registro Exitoso",data);
 this.completedLogIn(data);
 },
  Salir: function(){
     this.is_auth=false;
    localStorage.clear();
 this.$router.push({name: "LogIn"})  
},
 created: function(){
 this.verifyAuth()
},
 }


}

</script>

<style>
body{
    margin: 0 0 0 0;
    width: 1180px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px 20px 20px 0px;
        }
    
        
    .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 22vh;
    min-height: 100px;
    background-color: #1154b8 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.logo{
    width: 2%;
    height: 25vh;
    
    min-height: 60px;
    
}
 .header h1{
 
 width: 40%;
 text-align: center;
 
}
 .header nav{
 height: 20%;
 width: 20%;
 display: flex;
 justify-content: right;
 align-items: center;
 font-size: 8px;
 
}
 .header nav button
{
 color: #E5E7E9;
 background: #032379;
 border: 1px solid #a2cefa;
 border-radius: 5px;
 padding: 10px 30px;
 
}
 .header nav button:hover
{
 color: #356394;
 background: #E5E7E9;
 border: 1px solid #E5E7E9;
 
}
 
 .main-component
{
 height: 75vh;
 margin: 0%;
 padding: 0%;
 background: #FDFEFE;
 
}
 .footer
{
 margin:0;
 padding:0;
 width: 100%;
 height: 10vh;
 min-height: 100px;
 background-color: #283747;
 color: #E5E7E9;
 }
 .footer h2{
 width: 100%;
 height: 100%;
 
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .producto {
    text-align:center;
    color:#032379;;
    margin: 30 0 0 30;
    width: 1180px;
    justify-content: center;
    align-items: right;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 2px;
 }

 .producto h2{
    margin: 20px auto 50px auto; 
    justify-content: center;
    align-items: center;
    text-align:center
 }
 .foto img{
     float: left;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(37, 3, 161);
    height: 300px;
    display: block;
    
}

.informacion{
    justify-content: center;
    align-items: center;
}
</style>
