<template>

    <div class="cuerpo">

   <br>
   <br>
   <br>
     <div class="Imagenes">
    <pics>
        <img src="/images/GPUs-100.jpg">
        <img src="/images/CPUs -100.jpg">
        <img src="/images/RAM-100.jpg">
    </pics>
</div>
    <div class="Categorias">
       <boton class="BotonCategorias" type="submit" v-on:click="irgpu">Tarjetas gráficas</boton>
        <boton class="BotonCategorias" type="submit" v-on:click="irprocesador">Procesadores</boton>
       <boton class="BotonCategorias" type="submit" v-on:click="irmemoria">Memorias RAM</boton>
    </div>
<div class="Imagenes">
    <pics>
        <img src="/images/Monitores.jpg">
        <img src="/images/Perifericos -100.jpg">
        <img src="/images/Accesorios -100.jpg">
    </pics>
</div>
    <div class="Categorias">
       <button class="BotonCategorias2" type="submit" v-on:click="irmonitor">Monitores</button>
       <button class="BotonCategorias2" type="submit" v-on:click="irPerifericos">Periféricos</button>
       <button class="BotonCategorias2" type="submit" v-on:click="iraccesorio">Accesorios</button>
    </div> 

    </div>
    
</template>

<script>
export default{
 name: 'Home',
 data: function(){
 },

  components: {
 },

methods:{

irprocesador: function(){
       this.$router.push({name: "Procesadores"})
   },

irPerifericos: function(){
       this.$router.push({name: "Perifericos"})
   },

irgpu: function(){
       this.$router.push({name: "TarjetasGraficas"})
   },

irmonitor: function(){
       this.$router.push({name: "Monitores"})
   },

irmemoria: function(){
       this.$router.push({name: "MemoriasRAM"})
   },

iraccesorio: function(){
       this.$router.push({name: "Accesorios"})
   },
}
}

</script>

    
<style>

.cuerpo{
    margin: auto;
    text-align: center;
}


.cuerpo pics img {
    width: 250px; height: 250px;
    position: relative; top: -40px;
    border: 4px solid #74ceff;
    border-radius: 6px;
    padding: auto;
    margin: 10px 60px;
}

.Categorias boton {
    position:relative; top: -60px; 
    color: #0494c4;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: #474747;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 12px 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.BotonCategorias:hover {
    background-color: #74ceff;
    color: #474747;
}

.BotonCategorias2 {
    position:relative; top: -60px; 
    color: #0494c4;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: #474747;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 12px 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.BotonCategorias2:hover {
    background-color: #74ceff;
    color: #474747;
}

</style>