<template>

      
    <div class="producto">
        
        <h2>Intel Core i7 10700</h2>
        <div class="foto">
        <img src="/images/intelcorei7.jpg">
         </div>

    
        <h3>Precio: $1.560.000 COP</h3>
        <h3>Selecciona tu método de envío</h3>
        
        <select v-model="factura.factura_data.valor_envio">
               <option value=null>Seleccione método de envio</option>
               <option v-for='metodoe in metodos_envio' v-bind:key="metodoe" v-bind:value="metodoe.id">{{metodoe.descripcion}}</option>
           </select>

        
          <h2>Dirección de envío</h2>
          <textarea v-model="factura.factura_data.direccion_envio" name="direccion" id="direccion" cols="40" rows="4" style="resize: both;" v-on:submit.prevent="compra" >
          
            
            </textarea>
       <h3>Selecciona tu método de pago</h3>
             <div class="metodopago">
               <select v-model="factura.factura_data.metodo_pago">
               <option value=null>Seleccione método de pago</option>
               <option v-for='metodo in metodos_pago' v-bind:key="metodo" v-bind:value="metodo.id">{{metodo.descripcion}}</option>
           </select>
<br>
<br>

               <button id="boton_play" type="submit" v-on:click="procesarCompra" >Comprar</button>

            </div>
         
          <br>
          <br>
          
      
    </div>
    <div class="informacion">
        
           
        <p>
             <strong>Producto:</strong> Procesador Intel Core I7 10700f Gen 10th Lga1200 8 Nucleos
            <br>
            <br>
            <strong>Descripción:</strong>
           <br>
           <br>
            Procesador de escritorio intel core i7-10700f 8 núcleos hasta 4.8 ghz sin gráficos de procesador
            lga1200 (chipset intel serie 400) 65w modelo. 8 núcleos / 16 subprocesos tipo de zócalo lga 1200
            hasta 5,1 ghz desbloqueado compatible con placas base basadas en chipset de la serie intel 400 
            compatibilidad con tecnología intel turbo boost max compatibilidad con memoria intel optane
            <br>
            <br>
        </p>
        </div>
           
    <div class="caracteristicas">
        <strong>Características:</strong>
        <br>
        <br>
        <ul><strong>Tipos de memoria RAM soportadas:</strong>  DDR4 </ul>
        <ul><strong>Generación:</strong>  10 </ul>
        <ul><strong>Cantidad de Núcleos de CPU:</strong>  8 </ul>
        <ul><strong>Frecuencia máxima de reloj:</strong>  4.8 GHz </ul>
        <ul><strong>Zócalos compatibles: :</strong>  LGA1200 </ul>
    </div>

</template>

<script>
import axios from 'axios';
import jwt_decode from 'jwt-decode';
export default{
 name: 'Intelcorei7',
 data: function(){

     return{
         factura:{
             user_id : 0,
             factura_data:{
                user: 0,
                producto: 0,
                factura_fecha: (new Date()).toJSON().toString(),
                direccion_envio: "",
                metodo_pago: "",
                valor_envio: 0,
                valor_producto: 0,
                valor_impuesto: 0,
                subtotal: 0,
                valor_total: 0
                 }
         },

         select_instances: [],
         metodos_pago: [
             {
                 id:'Debito',
                 descripcion: 'Tarjeta Débito'
             },
             {
                 id:'Credito',
                 descripcion: 'Tarjeta Crédito'
             },
             {
                 id:'Contraentrega',
                 descripcion: 'Efectivo Contra-entrega'
             }
         ],
         metodos_envio: [
             {
                 id:0,
                 descripcion: 'Recojo en tienda física'
             },
             {
                 id:0,
                 descripcion: 'Gratis (Llega en 1 semana)'
             },
             {
                 id:8500,
                 descripcion: 'Express: $8.500 (48 horas - Sólo Bogotá)'
             },
             {
                 id:18500,
                 descripcion: 'Premium: $18.500 (48 horas - Fuera de Bogotá)'
             }
         ]
     }
 },
 methods:{
     verifyToken: function(){
         return axios.post("refresh/",{refresh: localStorage.getItem("token_refresh")}, {headers: {}})
         .then((result)=>{
             localStorage.setItem("token_access",result.data.access)
         })
         .catch (()=>{
             this.$emit('Salir')
         })
     },
     getData: async function (){
         if (localStorage.getItem("token_access")===null || localStorage.getItem("token_refresh")===null){
             this.$emit('Salir')
             return
         }
         await this.verifyToken();
         
     },
   
procesarCompra: function(){
   this.token_access= localStorage.getItem("token_access");
   this.username= localStorage.getItem("username");
   var decoded = jwt_decode(this.token_access);
   this.factura.user_id= decoded.user_id;
   this.factura.factura_data.user= decoded.user_id;
   
   var total= this.factura.factura_data.valor_envio + 1560000;
   this.factura.factura_data.valor_total=total;
   this.factura.factura_data.producto=146;
   this.factura.factura_data.valor_producto=1310924;
   this.factura.factura_data.valor_impuesto= 249076;
   this.factura.factura_data.subtotal=1560000;
   axios.post( "https://newtechshopb.herokuapp.com/factura/create/",
 this.factura, 
 {headers: {'Authorization':`Bearer ${this.token_access}`}}
 )
   .then((result) => {
                                        
                     this.$router.push({ name: "ProcesandoCompra" });
                })
                .catch((error) => {
                    console.log(error)
                     alert("Compra no realizada:Debe ingresar a su cuenta para comprar,seleccionar Método de Pago, envío y dirección");
                    
                    
                });
    console.log(this.factura)


 }   ,
 
 created: function(){
 this.getData()
}
}

}
         

 
</script>

<style>
body{
    margin: 0 0 0 0;
    width: 1180px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px 20px 20px 0px;
        }
    
        
    .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 22vh;
    min-height: 100px;
    background-color: #1154b8 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.logo{
    width: 2%;
    height: 25vh;
    
    min-height: 60px;
    
}
 .header h1{
 
 width: 40%;
 text-align: center;
 
}
 .header nav{
 height: 20%;
 width: 20%;
 display: flex;
 justify-content: right;
 align-items: center;
 font-size: 8px;
 
}
 .header nav button
{
 color: #E5E7E9;
 background: #032379;
 border: 1px solid #a2cefa;
 border-radius: 5px;
 padding: 10px 30px;
 
}
 .header nav button:hover
{
 color: #356394;
 background: #E5E7E9;
 border: 1px solid #E5E7E9;
 
}
 
 .main-component
{
 height: 75vh;
 margin: 0%;
 padding: 0%;
 background: #FDFEFE;
 
}
 .footer
{
 margin:0;
 padding:0;
 width: 100%;
 height: 10vh;
 min-height: 100px;
 background-color: #283747;
 color: #E5E7E9;
 }
 .footer h2{
 width: 100%;
 height: 100%;
 
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .producto {
    text-align:center;
    color:#032379;;
    margin: 30 0 0 30;
    width: 1180px;
    justify-content: center;
    align-items: right;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 2px;
 }

 .producto h2{
    margin: 20px auto 50px auto; 
    justify-content: center;
    align-items: center;
    text-align:center
 }
 .foto img{
     float: left;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(37, 3, 161);
    height: 300px;
    display: block;
    
}

.informacion{
    justify-content: center;
    align-items: center;
}
.metodopago{
    align-items: right;
    justify-content: right;
    position:relative; top: -40px; 
    
    padding: 16px 62px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0px 0px 400px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    text-decoration: none;

}
</style>
