<template>
<div class="producto">
        
        <h2>Teclado gamer Logitech Serie G Prodigy G213 </h2>
        <div class="foto">
        <img src="/images/logitechteclado.jpg">
         </div>

    
        <h3>Precio: $350.000 COP</h3>
        <h3>Selecciona tu método de envío</h3>
        
        <select v-model="factura.factura_data.valor_envio">
               <option value=null>Seleccione método de envio</option>
               <option v-for='metodoe in metodos_envio' v-bind:key="metodoe" v-bind:value="metodoe.id">{{metodoe.descripcion}}</option>
           </select>

        
          <h2>Dirección de envío</h2>
          <textarea v-model="factura.factura_data.direccion_envio" name="direccion" id="direccion" cols="40" rows="4" style="resize: both;" v-on:submit.prevent="compra" >
          
            
            </textarea>
       <h3>Selecciona tu método de pago</h3>
             <div class="metodopago">
               <select v-model="factura.factura_data.metodo_pago">
               <option value=null>Seleccione método de pago</option>
               <option v-for='metodo in metodos_pago' v-bind:key="metodo" v-bind:value="metodo.id">{{metodo.descripcion}}</option>
           </select>

              <br>
          <br>
          
        <button id="boton_play" type="submit" v-on:click="procesarCompra" >Comprar</button>

            </div>
         
         
    </div>
    <div class="informacion">
        
           
        <p>
             <strong>Producto:</strong> Teclado gamer Logitech Serie G Prodigy G213  color negro con luz RGB
            <br>
            <br>
            <strong>Descripción:</strong>
           <br>
           <br>
            El teclado Logitech Serie G Prodigy G213 está dirigido especialmente para aquellos jugadores que pasan
             horas al frente de una pantalla con sus juegos favoritos. Sus teclas están diseñadas con tecnología
              Logitech G Mech-Dome, las cuales tienen una respuesta táctil superior en comparación a dispositivos
             estándar de la competencia.


            <br>
            <br>
        </p>
        </div>
           
    <div class="caracteristicas">
        <strong>Características:</strong>
        <br>
        <br>
        <ul><strong>Marca:</strong> Logitech</ul>
        <ul><strong>Teclado numérico:</strong>  No</ul>
        <ul><strong>Tipo:</strong>  antighosting </ul>
       
        
    </div>
</template>

<script>
import axios from 'axios';
import jwt_decode from 'jwt-decode';
export default{
 name: 'Logitech',
 data: function(){

     return{
         factura:{
             user_id : 0,
             factura_data:{
                user: 0,
                producto: 0,
                factura_fecha: (new Date()).toJSON().toString(),
                direccion_envio: "",
                metodo_pago: "",
                valor_envio: 0,
                valor_producto: 0,
                valor_impuesto: 0,
                subtotal: 0,
                valor_total: 0
                 }
         },

         select_instances: [],
         metodos_pago: [
             {
                 id:'Debito',
                 descripcion: 'Tarjeta Débito'
             },
             {
                 id:'Credito',
                 descripcion: 'Tarjeta Crédito'
             },
             {
                 id:'Contraentrega',
                 descripcion: 'Efectivo Contra-entrega'
             }
         ],
         metodos_envio: [
             {
                 id:0,
                 descripcion: 'Recojo en tienda física'
             },
             {
                 id:0,
                 descripcion: 'Gratis (Llega en 1 semana)'
             },
             {
                 id:8500,
                 descripcion: 'Express: $8.500 (48 horas - Sólo Bogotá)'
             },
             {
                 id:18500,
                 descripcion: 'Premium: $18.500 (48 horas - Fuera de Bogotá)'
             }
         ]
     }
 },
 methods:{
     verifyToken: function(){
         return axios.post("refresh/",{refresh: localStorage.getItem("token_refresh")}, {headers: {}})
         .then((result)=>{
             localStorage.setItem("token_access",result.data.access)
         })
         .catch (()=>{
             this.$emit('Salir')
         })
     },
     getData: async function (){
         if (localStorage.getItem("token_access")===null || localStorage.getItem("token_refresh")===null){
             this.$emit('Salir')
             return
         }
         await this.verifyToken();
         
     },
   
procesarCompra: function(){
   this.token_access= localStorage.getItem("token_access");
   this.username= localStorage.getItem("username");
   var decoded = jwt_decode(this.token_access);
   this.factura.user_id= decoded.user_id;
   this.factura.factura_data.user= decoded.user_id;
   
   var total= this.factura.factura_data.valor_envio + 350000;
   this.factura.factura_data.valor_total=total;
   this.factura.factura_data.producto=1235;
   this.factura.factura_data.valor_producto=294118;
   this.factura.factura_data.valor_impuesto= 55882;
   this.factura.factura_data.subtotal=350000;
   axios.post( "https://newtechshopb.herokuapp.com/factura/create/",
 this.factura, 
 {headers: {'Authorization':`Bearer ${this.token_access}`}}
 )
   .then((result) => {
                                        
                     this.$router.push({ name: "ProcesandoCompra" });
                })
                .catch((error) => {
                    console.log(error)
                     alert("Compra no realizada:Debe ingresar a su cuenta para comprar,seleccionar Método de Pago, envío y dirección");
                    
                    
                });
    console.log(this.factura)


 }   ,
 
 created: function(){
 this.getData()
}
}

}
        

</script>

<style>
body{
    margin: 0 0 0 0;
    width: 1180px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px 20px 20px 0px;
        }
    
        
    .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 22vh;
    min-height: 100px;
    background-color: #1154b8 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.logo{
    width: 2%;
    height: 25vh;
    
    min-height: 60px;
    
}
 .header h1{
 
 width: 40%;
 text-align: center;
 
}
 .header nav{
 height: 20%;
 width: 20%;
 display: flex;
 justify-content: right;
 align-items: center;
 font-size: 8px;
 
}
 .header nav button
{
 color: #E5E7E9;
 background: #032379;
 border: 1px solid #a2cefa;
 border-radius: 5px;
 padding: 10px 30px;
 
}
 .header nav button:hover
{
 color: #356394;
 background: #E5E7E9;
 border: 1px solid #E5E7E9;
 
}
 
 .main-component
{
 height: 75vh;
 margin: 0%;
 padding: 0%;
 background: #FDFEFE;
 
}
 .footer
{
 margin:0;
 padding:0;
 width: 100%;
 height: 10vh;
 min-height: 100px;
 background-color: #283747;
 color: #E5E7E9;
 }
 .footer h2{
 width: 100%;
 height: 100%;
 
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .producto {
    text-align:center;
    color:#032379;;
    margin: 30 0 0 30;
    width: 1180px;
    justify-content: center;
    align-items: right;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 2px;
 }

 .producto h2{
    margin: 20px auto 50px auto; 
    justify-content: center;
    align-items: center;
    text-align:center
 }
 .foto img{
     float: left;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(37, 3, 161);
    height: 300px;
    display: block;
    
}

.informacion{
    justify-content: center;
    align-items: center;
}
</style>
