<template>

    <div class="cuerpop">

   <br>
   <br>
   <br>
     <div class="Imagenes">
    <pics>
        <img src="/images/tecladoredragon.jpg">
        <img src="/images/logitechteclado.jpg">
        
    </pics>
</div>
    <div class="Categorias">
       <boton class="BotonCategorias"  v-on:click="irRedragon">Teclado Redragon Kumara K552</boton>
       <boton class="BotonCategorias"  v-on:click="irLogitech">Teclado Logitech Serie G Prodigy G213</boton>
        
    </div>


    </div>
    
</template>

<script>
export default{
 name: 'Perifericos',
 data: function(){
 },

  components: {
 },

methods:{

irRedragon: function(){
       this.$router.push({name: "Redragon"})
   },

irLogitech: function(){
       this.$router.push({name: "Logitech"})
   },

irgpu: function(){
       this.$router.push({name: "Nvidia2060s"})
   },

irmonitor: function(){
       this.$router.push({name: "Monitordell"})
   },

irmemoria: function(){
       this.$router.push({name: "Memoria8GCrucial"})
   },

iraccesorio: function(){
       this.$router.push({name: "Parlantesgenius"})
   },
}
}

</script>

    
<style>

.cuerpo{
    margin: auto;
    text-align: center;
}


.cuerpop pics img {
    width: 350px; height: 250px;
    position: relative; top: -40px;
    border: 4px solid #74ceff;
    border-radius: 6px;
    padding: auto;
    margin: 10px 60px;
}

.Categorias boton {
    position:relative; top: -60px; 
    color: #0494c4;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: #474747;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 12px 80px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.BotonCategorias:hover {
    background-color: #74ceff;
    color: #474747;
}

.BotonCategorias2 {
    position:relative; top: -60px; 
    color: #0494c4;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: #474747;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 12px 100px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.BotonCategorias2:hover {
    background-color: #74ceff;
    color: #474747;
}

</style>