<template>

 <div class="producto">
        
        <h2>Estás cada vez más cerca a finalizar tu compra</h2>
        <div class="foto">
        <img src="/images/logo.png">
         </div>

    
        

              
           
         
          <br>
          <br>
          <br>
          <br>
        
         <button v-on:click="IrAPago"> Ir a la plataforma de Pagos </button>
    
    </div>
</template>

<script>
import axios from 'axios';
import jwt_decode from 'jwt-decode';
export default{
 name: 'Intelcorei5',
 data: function(){

     return{
         factura:{
             user_id : 0,
             factura_data:{
                user: 0,
                producto: 0,
                factura_fecha: (new Date()).toJSON().toString(),
                direccion_envio: "",
                metodo_pago: "",
                valor_envio: 0,
                valor_producto: 0,
                valor_impuesto: 0,
                subtotal: 0,
                valor_total: 0
                 }
         },

         select_instances: [],
         metodos_pago: [
             {
                 id:'Debito',
                 descripcion: 'Tarjeta Débito'
             },
             {
                 id:'Credito',
                 descripcion: 'Tarjeta Crédito'
             },
             {
                 id:'Contraentrega',
                 descripcion: 'Efectivo Contra-entrega'
             }
         ],
         metodos_envio: [
             {
                 id:0,
                 descripcion: 'Recojo en tienda física'
             },
             {
                 id:0,
                 descripcion: 'Gratis (Llega en 1 semana)'
             },
             {
                 id:8500,
                 descripcion: 'Express: $8.500 (48 horas - Sólo Bogotá)'
             },
             {
                 id:18500,
                 descripcion: 'Premium: $18.500 (48 horas - Fuera de Bogotá)'
             }
         ]
     }
 },
 methods:{
     IrAPago: function(){
         alert("Compra exitosa: A tu e-mail registrado llegará la factura y detalles de la compra");
         console.log("funciona boton")
         this.$router.push({name: "Home"})
     },

 
 created: function(){
 
}
}

}
        

</script>

<style>
body{
    margin: 0 0 0 0;
    width: 1180px;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 10px 20px 20px 0px;
        }
    
        
    .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 22vh;
    min-height: 100px;
    background-color: #1154b8 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.logo{
    width: 2%;
    height: 25vh;
    
    min-height: 60px;
    
}
 .header h1{
 
 width: 40%;
 text-align: center;
 
}
 .header nav{
 height: 20%;
 width: 20%;
 display: flex;
 justify-content: right;
 align-items: center;
 font-size: 8px;
 
}
 .header nav button
{
 color: #E5E7E9;
 background: #032379;
 border: 1px solid #a2cefa;
 border-radius: 5px;
 padding: 10px 30px;
 
}
 .header nav button:hover
{
 color: #356394;
 background: #E5E7E9;
 border: 1px solid #E5E7E9;
 
}
 
 .main-component
{
 height: 75vh;
 margin: 0%;
 padding: 0%;
 background: #FDFEFE;
 
}
 .footer
{
 margin:0;
 padding:0;
 width: 100%;
 height: 10vh;
 min-height: 100px;
 background-color: #283747;
 color: #E5E7E9;
 }
 .footer h2{
 width: 100%;
 height: 100%;
 
 display: flex;
 justify-content: center;
 align-items: center;
 }

 .producto {
    text-align:center;
    color:#032379;;
    margin: 30 0 0 30;
    width: 1180px;
    justify-content: center;
    align-items: right;
    margin: 10px auto;
    background-color: #ffffff;
    padding: 20px 20px 20px 2px;
 }

 .producto h2{
    margin: 20px auto 50px auto; 
    justify-content: center;
    align-items: center;
    text-align:center
 }
 .foto img{
     float: left;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(37, 3, 161);
    height: 300px;
    display: block;
    
}
.metodopago{
   
 justify-content: right;
    align-items: right;
}
.informacion{
    justify-content: center;
    align-items: center;
}
</style>
