<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>

                <input type="text" v-model="user.usuario_nombre" placeholder="Nombre">
                <br>

                <input type="number" v-model="user.usuario_telefono" placeholder="Teléfono">
                <br>

                <input type="text" v-model="user.usuario_tipo_id" placeholder="Tipo de identificación">
                <br>
                
                <input type="number" v-model="user.usuario_numero_id" placeholder="Número de identificación">
                <br>

                <input type="text" v-model="user.usuario_ciudad" placeholder="Ciudad">
                <br>

                <input type="text" v-model="user.usuario_direccion" placeholder="Dirección">
                <br>    

                <input type="password" v-model="user.password" placeholder="Password">
                <br>

                <input type="email" v-model="user.usuario_email" placeholder="Email">
                <br>

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>




<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                usuario_nombre: "",
                usuario_telefono: "",
                usuario_tipo_id: "",
                usuario_numero_id: "",
                usuario_ciudad: "",
                usuario_direccion: "",
                password: "",
                usuario_email: "",
                account: {
                    lastChangeDate: (new Date()).toJSON().toString(),
                    isActive: true
                }
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://newtechshopb.herokuapp.com/user/", 
                this.user,  
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                    
                    
                });
        }
    }
}
</script>



<style> 

.signUp_user{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container_signUp_user {
border: 3px solid #0f22ce;
 border-radius: 10px;
 width: 50%;
 height: 99%;
 
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.signUp_user h2{
 color: #0a14a3;
 }
 .signUp_user form{
 width: 70%;
 
}
 .signUp_user input{
 height: 40px;
 width: 100%;
 box-sizing: border-box;
 padding: 10px 20px;
 margin: 5px0;
 border: 1px solid #283747;
 }

 .signUp_user button{
 width: 100%;
 height: 40px;
 color: #E5E7E9;
 background: #050396;
 border: 1px solid #E5E7E9;
 border-radius: 5px;
 padding: 10px 25px;
 margin: 5px0 25px0;
 
}
 .signUp_user button:hover
{
 color: #E5E7E9;
 background: rgb(1, 6, 70);
border: 1px solid #283747;
 }

</style>