<template>
    <body>

	<header class="header">
		<div class="container">
			<div class="row">

				<div class="four columns">
					<h1>Tienda Tech</h1>
				</div>
				<div class="two columns u-pull-right">
					<ul>
						<li class="submenu">
							<img src="img/cart.png">
							<div id="carrito">
								<p class="vacio">carrito vacio</p>
								<table id="lista-carrito" class="u-full-width">
									<thead>
										<tr>
											<th>Imagen</th>
											<th>Productos</th>
											<th>Precio</th>
										</tr>
									</thead>
									<tbody>

									</tbody>
								</table>
								<a href="#" id="vaciar-carrito" class="button u-full-width">vaciar carrito</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<div class="hero">
		<div class="container">
			<div class="row">
				<div class="six columns">
					<div class="contenido-hero">
						<h2>Lista de Tarjetás de video</h2>
						<form>
							<input class="u-full-width" type="text" placeholder="¿Buscador de productos?" id="buscador">
							<input type="submit" class="submit-buscador">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="barra">
		<div class="container">
			<div class="row">
				<div class="four columns icono icono1">
					<p>Sección de Teclados<br>
						Explora los nuevos productos</p>
				</div>
				<div class="four columns icono icono2">
					<p>Productos con Garantías<br>
						Durabilidad y confiabilidad</p>
				</div>
				<div class="four columns icono icono3">
					<p>Envio<br>
						Gratis sin costo alguno</p>
				</div>
			</div>
		</div>
	</div>

	<div id="lista-catalogo" class="container">
		<h1 class="encabezado">Pedidos en linea</h1>
		<div class="card">
			<div class="four columns">
				<div class="card">
					<img src="img/product1-1.jpg" class="u-full-width">
					<div class="info-card">
						<h4>AMD radeon 5300</h4>
						<p>Unidades disponibles: 3</p>
						<p class="precio">$500.000<span class="u-pull-right">$450.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="img/product1-2.jpg" class="u-full-width">
					<div class="info-card">
						<h4>RX 500</h4>
						<p>Unidades disponibles: 6</p>
						<p class="precio">$480.000<span class="u-pull-right">$460.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="img/product1-3.jpg" class="u-full-width">
					<div class="info-card">
						<h4>RTX serie 20</h4>
						<p>Unidades disponibles: 2</p>
						<p class="precio">$600.000<span class="u-pull-right">$455.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="card">
					<img src="img/product1-4.jpg" class="u-full-width">
					<div class="info-card">
						<h4>INTEL Xe DG2</h4>
						<p>Unidades disponibles: 3</p>
						<p class="precio">$5.000.000<span class="u-pull-right">$45.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="img/product1-5.jpg" class="u-full-width">
					<div class="info-card">
						<h4>MSI GEFORCE RTX 30 VENTUS</h4>
						<p>Unidades disponibles: 4</p>
						<p class="precio">$50.000<span class="u-pull-right">$45.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="card">
					<img src="img/product1-6.jpg" class="u-full-width">
					<div class="info-card">
						<h4>RX 6900 XT</h4>
						<p>Unidades disponibles: 1</p>
						<p class="precio">$50.000<span class="u-pull-right">$45.000</span></p>
						<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar
							al carrito</a>
					</div>
				</div>
			</div>
		</div>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="four columns">
					<nav class="menu">
						<a class="enlace" href="#">Volver al inicio</a>
					</nav>
				</div>
				<div class="four columns">
					<nav class="menu">
						<a class="enlace" href="#">Tratamiento de datos</a>
					</nav>
				</div>
			</div>
		</div>
	</footer>

	

</body>
</template>

